/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #000000;
  /* Pattern from https://www.heropatterns.com/ */

  color: #1e272e;
  color: #fff;
  font-size: 16px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
}

/* Navigation */
.nav-main {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
}

.nav-brand {
  width: 50px;
}

/* Navbar Left */
.nav-main ul {
  display: flex;
}

.nav-main ul li {
  padding: 10px;
}

.nav-main ul li a {
  padding: 2px;
}

.nav-main ul li a:hover {
  border-bottom: 2px solid #fff;
}

.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 20px;
}

hr {
  margin: 10px 0;
}

/* Responsive Button */
.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 2;
  display: none;
}

/* SHOWCASE */

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
}

.btn:hover {
  opacity: 0.9;
}

.showcase1 {
  width: 100%;
  height: 550px;
  background: url("./img/rm373batch13-085.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
}

/* showcase doetra   */
.showcase2 {
  width: 100%;
  height: 550px;
  background: url("./img/planteo\ del\ problema.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
}

/* showcase doad  */

.showcase3 {
  width: 100%;
  height: 550px;
  background: url("./img/marcoteorico.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
}


/* showcase doan  */

.showcase4 {
  width: 100%;
  height: 550px;
  background: url("./img/estadodelarteposta.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
}

/* showcase agradecimientos  */

.showcase5 {
  width: 100%;
  height: 650px;
  background: url("./img/objetivosposta.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
}

.tesistitulo {
  font-size: 4vh;
}

h1 {
  font-size: 5VH;
  text-align: center;
  justify-content: center;
  justify-self: center;
}

.showcase h2,
.showcase p {
  margin-bottom: 10px;
  font-size: 3vh;
  
}

.showcase .btn {
  margin-top: 20px;
}


.showcaseagradecimiento {
  width: 100%;
  height: 650px;
  background: url("./img/agradecimiento.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
}


.showcaseconclusiones {
  width: 100%;
  height: 650px;
  background: url("./img/conclusion.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
}




.showcasemeto {
  width: 100%;
  height: 650px;
  background: url("./img/metodologia.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
}








.showcaseDesarrollo {
  width: 100%;
  height: 550px;
  background: url("./img/desarollobien.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
}

/* News Cards */
.news-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 70px 0;
}

.news-cards img {
  width: 100%;
  height: 180px;
}

.news-cards h3 {
  font-size: 30px;
  margin: 10px 10px;
}

.news-cards p {
  font-size: 20px;
  margin: 10px 10px;
}




.news-cards a {
  padding: 10px 0;
  color: #f2f2f2;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
}

/* News Cards2 Planteo del Problema */

.news-cards2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin: 70px 200px;
  margin-left: 12%;
}

.news-cards2 img {
  width: 100%;
  height: 380px;
}

.news-cards2 h3 {
  font-size: 30px;
  margin: 20px 20px;
}

.news-cards2 p {
  font-size: 20px;
  margin: 20px 20px;
}

.news-cards2 a {
  padding: 10px 0;
  color: #f2f2f2;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  margin-left: 20px;
}


.news-cardsagradecimiento {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin: 70px 200px;
  margin-left: 12%;
}


.news-cardsagradecimiento img {
  width: 100%;
  height: 380px;
}

.news-cardsagradecimiento h3 {
  font-size: 30px;
  margin: 20px 20px;
}

.news-cardsagradecimiento p {
  font-size: 20px;
  margin: 20px 20px;
}

.news-cardsagradecimiento a {
  padding: 10px 0;
  color: #f2f2f2;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  margin-left: 20px;
}


/* News Cards3 Marco Teórico */
.news-cards3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin: 70px 0;
}

.news-cards3 img {
  width: 100%;
  height: 320px;
}

.news-cards3 h3 {
  font-size: 30px;
  margin: 20px 20px;
}

.news-cards3 p {
  font-size: 20px;
  margin: 20px 20px;
}

.news-cards3 a {
  padding: 10px 0;
  color: #f2f2f2;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}

/* News Cards4 doan*/

.news-cards4 {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 25px;
  margin: 70px 0px;
  margin-left: 60px;
}

.news-cards4 img {
  width: 100%;
  height: 280px;
}

.news-cards4 h3 {
  font-size: 30px;
  margin: 10px 20px;
}

.news-cards4 p {
  font-size: 20px;
  margin: 10px 20px;
}


.news-cards4 a {
  padding: 10px 0;
  color: #f2f2f2;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  margin-left: 20px;
  font-size: 15px;
}


/* News Cards5 agradecimientos*/

.news-cards5 {
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  gap: 25px;
  margin: 70px 0;
}

.news-cards5 img {
  width: 50%;
  height: 550px;
  justify-self: center;
  justify-content: center;
  margin-left: 40vh;
}

.news-cards5 h3 {
  font-size: 20px;
  margin: 10px 0;
  margin-left: 40vh
}

.news-cards5 a {
  padding: 10px 0;
  color: #f2f2f2;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  margin-left: 40vh;
}

.news-cards5 p {
  margin-left: 40vh;
  font-size: 20px;
}


/* CARDS BANNER ONE */
.cards-banner-one {
  width: 100%;
  height: 350px;
 margin-left: 40%;
  margin-bottom: 40px;
}

.cards-banner-one .content {
  width: 40%;
  padding: 90px 0 0 30px;
  color: #fff;
}

.cards-banner-one p,
.cards-banner-two p {
  margin: 10px 0 20px 0;
}

/* CARDS BANNER TWO*/
.cards-banner-two {
  width: 100%;
  height: 350px;
  background: url("./img/image-five.jpg") no-repeat center center/cover;
}

.cards-banner-two .content {
  width: 50%;
  padding: 100px 0 0 30px;
}

/* Follow */
.social {
  margin: 50px;
}
.social p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  margin: 0 30px;
}

.links a i {
  font-size: 3rem;
}

/* Links */
.footer-links {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.footer-container ul {
  margin: 0 auto;
}

.footer-links li {
  line-height: 2.8;
}

.footer {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}

/* Mobil */
@media (max-width: 700px) {
  .menu-btn {
    display: block;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }

  .nav-main ul.nav-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #2f3640;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .nav-main ul.nav-menu li {
    padding: 20px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }
  .nav-main ul.nav-menu li:last-child {
    border-bottom: 0;
  }

  .nav-main ul.nav-menu.show {
    transform: translateX(-20px);
  }

  .nav-main ul.nav-menu-right {
    margin-right: 50px;
  }

  .news-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .news-cards2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .news-cards3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .news-cards4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .news-cardsagradecimiento {
    grid-template-columns: repeat(2, 1fr);
  }

  


  .cards-banner-one .content,
  .cards-banner-two .content {
    width: 80%;
  }

  .footer-links .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .news-cards {
    grid-template-columns: 1fr;
  }

  .news-cards2 {
    grid-template-columns: 1fr;
  }

  .news-cards3 {
    grid-template-columns: 1fr;
  }

  .news-cards4 {
    grid-template-columns: 1fr;
  }

  .news-cardsagradecimiento {
    grid-template-columns: 1fr;
  }



  .cards-banner-one .content,
  .cards-banner-two .content {
    width: 100%;
    padding: 60px 20px;
  }
  .footer-links .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-links .footer-container ul {
    text-align: center;
  }
}



.animacionimg {


    transition: transform 0.3s ease; /* Ajusta la duración de la transición según tus necesidades */
    border: 2px solid transparent;
    transition: border-color 0.3s ease;

  
  
}

.animacionimg:hover {
  transform: scale(1.1); /* Ajusta el factor de escala según tus necesidades */
  border-color: #8a9597;
}